In [104]:
import pandas as pd

In [105]:
# Q1. Pandas version
# What's the version of Pandas that you installed

pd.__version__

'2.3.1'

In [106]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [107]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [108]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [109]:
# Q2. Records count
# How many records are in the dataset?

len(df) #df.shape[0]

9704

In [110]:
# Q3. Fuel types
# How many fuel types are presented in the dataset?

df['fuel_type'].unique() # df['fuel_type'].value_counts()

array(['Gasoline', 'Diesel'], dtype=object)

In [111]:
# Q4. Missing values
# How many columns in the dataset have missing values?

df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [112]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?

df[df.origin=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [113]:
# Q6. Median value of horsepower
# Find the median value of horsepower column in the dataset.

median_horsepower = df['horsepower'].median()
median_horsepower

np.float64(149.0)

In [114]:
# Next, calculate the most frequent value of the same horsepower column.

most_frequent = df['horsepower'].mode()[0]
most_frequent

np.float64(152.0)

In [115]:
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

df['horsepower'] = df['horsepower'].fillna(most_frequent)

In [116]:
# Now, calculate the median value of horsepower once again.

median_after = df['horsepower'].median()
median_after

np.float64(152.0)

In [117]:
# Q7. Sum of weights
# Select all the cars from Asia

import numpy as np
cars_asia = df[df.origin == 'Asia']
cars_asia

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [118]:
# Select only columns vehicle_weight and model_year

cars_asia_vehicle_weight_model_year = cars_asia[['vehicle_weight', 'model_year']]

In [119]:
# Select the first 7 values

cars_asia_7 = cars_asia_vehicle_weight_model_year.head(7)

In [120]:
# Get the underlying NumPy array. Let's call it X.

X = cars_asia_7.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [121]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XTX = np.dot(X.T, X) # X.T @ X
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [122]:
# Invert XTX.

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [123]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [124]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

w = (XTX_inv @ X.T) @ y
w

array([0.01386421, 0.5049067 ])

In [125]:
# What's the sum of all the elements of the result?

result_sum = w.sum()
result_sum

np.float64(0.5187709081074016)